<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="/logs/account-management"/>

    <appender name="Console"
      class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Kolkata} %5p --- %C{1} : %m%n</Pattern>
        </layout>
    </appender>
    <appender name="Application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/account-management-${hostname}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/account-management-${hostname}-%d{yyyy-MM-dd, Asia/Kolkata}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Kolkata} %5p --- %C{1} : %m%n</pattern>
        </encoder>
    </appender>
    <appender name="Trace" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="Trace" level="INFO" additivity="false">
        <appender-ref ref="Trace"/>
    </logger>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Application"/>
        <appender-ref ref="Console"/>
    </root>
</configuration>
